<div class="body-content__rollig-text rolling-text" id="text-parallel-1" data-reveal>
  <div class="rolling-text__text">
    POP ART <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    PAINTING <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    CERAMIC <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    SCULPTURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
    DRAWING <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    ART TOY <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    ILLUSTRATE <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    FIGURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
  </div>
</div>

<div class="body-content__rollig-text rolling-text" id="text-parallel-2" data-reveal style="text-align: center;">
  <div class="rolling-text__text">
    POP ART <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    PAINTING <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    CERAMIC <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    SCULPTURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
    DRAWING <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    ART TOY <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    ILLUSTRATE <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    FIGURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
  </div>
</div>

<div class="body-content__rollig-text rolling-text" id="text-parallel-3" data-reveal>
  <div class="rolling-text__text">
    POP ART <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    PAINTING <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    CERAMIC <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    SCULPTURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
    DRAWING <app-star-decorate [color]="yellow"></app-star-decorate>&nbsp;
    ART TOY <app-star-decorate [color]="blue"></app-star-decorate>&nbsp;
    ILLUSTRATE <app-star-decorate [color]="green"></app-star-decorate>&nbsp;
    FIGURE <app-star-decorate [color]="pink"></app-star-decorate>&nbsp;
  </div>
</div>
