<div class="randing-header">
  <div class="title-wrap">
    <div class="title">
      <span (click)="clickNavigationEvent('section-01')">CRACK IT</span>
    </div>
  </div>

  <div class="services">
    <ul>
      <li>
        <a (click)="clickNavigationEvent('section-01')">HOME</a>
      </li>
      <li>
        <a (click)="clickNavigationEvent('section-02')">WE ARE</a>
      </li>
      <li>
        <a (click)="clickNavigationEvent('section-06')">SERVICE</a>
      </li>
      <li>
        <a (click)="clickNavigationEvent('section-07')">ARTIST</a>
      </li>
      <li>
        <a (click)="clickNavigationEvent('section-08')">HISTORY</a>
      </li>
      <li>
        <a (click)="clickNavigationEvent('section-09')">CONTACT</a>
      </li>
    </ul>
  </div>
</div>
